* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  box-sizing: border-box;
}

body {
  background-image: url("Imagen/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contenedorGeneral {
  width: 500px;
  margin: 0 auto;
  backdrop-filter: blur(100px);
}

.contenedorDatos {
  height: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedorAgregarTarea {
  width: 500px;
  height: 50px;
  margin-top: 10px;
  display: flex;
}

#input {
  flex: 90%;
  padding-left: 5px;
  border: none;
  outline: none;
}

#botonAgregar {
  flex: 10%;
  border: none;
  outline: none;
  font-size: 40px;
  cursor: pointer;
  background: rgb(126, 165, 255);
}

#botonAgregar:active {
  color: white;
  background: rgb(161, 189, 255);
}

h3 {
  width: 500px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#elemento {
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#elemento > .checkIcon {
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#elemento > .checkIcon:hover{
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
}

#elemento > .check{
  background-color: rgb(0, 255, 0);
  border-radius: 50%
}

#elemento > .trashIcon {
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

#elemento > .trashIcon:hover{
  background-color: red;
  border-radius: 25%;
}

.lineThrough {
  text-decoration: line-through;
  color: rgb(0, 255, 0);
}

footer {
  margin-top: 50px;
}

#imageContainer {
  display: flex;
  justify-content: space-evenly;
}

.socialMedia {
  width: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 530px){
  .contenedorGeneral {
    width: 350px;
    backdrop-filter: blur(100px);
  }

  .contenedorAgregarTarea {
    width: 350px;
  }

  h3 {
    width: 350px;    
  }

  #elemento > .checkIcon {
    width: 20px;
  }

  #elemento > .trashIcon {
    width: 20px;
  }

  .socialMedia {
    width: 25px;
  }
}