* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

body {
  background-image: url("Imagen/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.lineThrough {
  text-decoration: line-through;
  color: green;
}