* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

body {
  background-image: url("Imagen/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contenedorDatos {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(50px);
}

#fecha, #hora {
  text-align: center;
}

h1 {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(50px);
}

.contenedorAgregarTarea {
  display: flex;
  width: 500px;
  height: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#input {
  flex: 90%;
  padding-left: 5px;
  border: none;
  outline: none;
}

#botonAgregar {
  flex: 10%;
  border: none;
  outline: none;
}

h3 {
  position: absolute;
  width: 500px;
  height: 50px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(50px);
}

.contenedorListaDeTareas {
  width: 500px;
  height: auto;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedorListaDeTareas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  backdrop-filter: blur(50px);
}

.lineThrough {
  text-decoration: line-through;
  color: green;
}
